<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文检索系统</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
<div class="right-content col-md-10" th:fragment="paperInfoMulti">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="width: 80px;background-color: lightblue;">序号</th>
            <th style="background-color: lightblue;">分类号</th>
            <th style="width: 500px;background-color: lightblue;">论文名称</th>
            <th style="width: 70px;background-color: lightblue;">作者</th>
            <th style="width: 500px;background-color: lightblue;">关键字</th>
            <th style="width: 150px;background-color: lightblue;">论文类别</th>
            <th style="width: 170px;background-color: lightblue;">发表时间</th>
            <th style="width: 170px;background-color: lightblue;">下载次数</th>
            <th style="width: 150px;background-color: lightblue;">下载</th>
            <th style="width: 150px;background-color: lightblue;">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="paperInfo : ${paperInfoList}">
            <td>[[${paperInfoStat.count + (pageInfo.pageNum - 1) * pageInfo.pageSize}]]</td>
            <td>[[${paperInfo.classnum}]]</td>
            <td>[[${paperInfo.title}]]</td>
            <td>[[${paperInfo.author}]]</td>
            <td>[[${paperInfo.keyword}]]</td>
            <td>[[${paperInfo.type}]]</td>
            <td>[[${paperInfo.time}]]</td>
            <td>[[${paperInfo.download}]]</td>
            <td><a th:href="@{/paperinfo/downloadPaper(id=${paperInfo.id}, address=${paperInfo.address})}">
                点此下载</a></td>
            <td><a th:href="@{/paperinfo/showPaperInfo(id=${paperInfo.id})}">查看</a></td>
        </tr>
        </tbody>
    </table>

    <div class="row-fluid">
        <div>
            当前第[[${pageInfo.pageNum}]]页  总计[[${pageInfo.pages}]]页  共[[${pageInfo.total}]]条记录
        </div>
        <div>
            <ul class="pagination" th:if="${pageInfo.total == 0 || (pageInfo.isFirstPage && pageInfo.isLastPage)}">
            </ul>
            <ul class="pagination" th:if="${pageInfo.isFirstPage && !pageInfo.isLastPage}">
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.nextPage}, subTitle=${subTitle})}">
                    下一页</a></li>
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.pages}, subTitle=${subTitle})}">
                    尾页</a></li>
            </ul>
            <ul class="pagination" th:if="${pageInfo.isLastPage && !pageInfo.isFirstPage && pageInfo.total != 0}">
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.firstPage}, subTitle=${subTitle})}">
                    首页</a></li>
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.prePage}, subTitle=${subTitle})}">
                    上一页</a></li>
            </ul>
            <ul class="pagination" th:if="${!pageInfo.isLastPage && !pageInfo.isFirstPage}">
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.firstPage}, subTitle=${subTitle})}">
                    首页</a></li>
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.prePage}, subTitle=${subTitle})}">
                    上一页</a></li>
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.nextPage}, subTitle=${subTitle})}">
                    下一页</a></li>
                <li><a th:href="@{/user/findAllPapersMulti(currentPage=${pageInfo.pages}, subTitle=${subTitle})}">
                    尾页</a></li>
            </ul>
        </div>
    </div>
</div>
</body>

</html>