<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文检索系统</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="right-content col-md-10" th:fragment="paper">
        <table class="table table-bordered" style="margin-top: 20px;height: 500px;">
            <tbody>
                <tr>
                    <td style="width: 200px;">题名：</td>
                    <td id="td_content">[[${paper.title}]]</td>
                </tr>
                <tr>
                    <td>作者：</td>
                    <td id="td_content">[[${paper.author}]]</td>
                </tr>
                <tr>
                    <td>摘要：</td>
                    <td id="td_content">[[${paper.abstracts}]]</td>
                </tr>
                <tr>
                    <td>关键字：</td>
                    <td id="td_content">[[${paper.keyword}]]</td>
                </tr>
                <tr>
                    <td>出处：</td>
                    <td id="td_content">[[${paper.genre}]]</td>
                </tr>
                <tr>
                    <td>论文类别：</td>
                    <td id="td_content">[[${paper.type}]]</td>
                </tr>
                <tr>
                    <td>发表时间：</td>
                    <td id="td_content">[[${paper.time}]]</td>
                </tr>
                <tr>
                    <td>下载次数：</td>
                    <td id="td_content">[[${paper.download}]]</td>
                </tr>
                <tr>
                    <td>下载：</td>
                    <td id="td_content"><a th:href="@{/paperinfo/downloadPaper(id=${paper.id}, address=${paper.address})}">点此下载</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>