<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>论文检索系统</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>

<body>
    <div class="right-content col-md-10" th:fragment="advancedSearch">
        <form class="form-inline" th:action="@{/user/findAllPapersMulti}" method="post" style="margin-top: 10px;">
            <div class="form-group">
                <span>搜索：</span>
                <label>分类号：</label>
                <input type="text" name="classnum">
                <label>论文名称：</label>
                <input type="text" name="title">
                <label>作者：</label>
                <input type="text" name="author">
                <label>关键字：</label>
                <input type="text" name="keyword">
                <label>论文类别：</label>
                <select name="type">
                    <option value="不限">不限</option>
                    <option value="学位论文">学位论文</option>
                    <option value="期刊文章">期刊文章</option>
                    <option value="电子文献">电子文献</option>
                </select>
            </div>
            <button type="submit">检索</button>
        </form>
    </div>
</body>

</html>